
body{
  padding: 0 10px;
  /* background: #0F1A26; */
  /* background: var(--background); */
  background-color: #ebeced;
  font-size: 1em;
}

#notion-body{
  background-color: #ebeced;
}

p{
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--headingclr);
}

#c{ 
  border: 1px solid #000000;
  /* background: #ffffff; */
}
i{
    cursor: pointer;
}
.dropbtn {
    height:36px;
    background-color: transparent;
    color: inherit;
    border: 2px solid #000000;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ebeced;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateX(80%);
  }
  
.dropdown-content a {
    color: inherit;
    padding: 12px 46px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background-color: #ebeced;
    color: black;
    cursor: pointer;
}

/* .btn {
  cursor: pointer;
  padding: 5px 15px;
  background: #e6e9ff;
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
  margin-top: 2%;

  outline: none;
} */
.btn-info{
  margin-right: 0px;
    float: left;
}

.link{
  text-decoration: none;
}

a.btn{
  margin: 0;
  text-decoration: none;
}
footer{
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background: #747474;
  margin-top: 15px;
  padding:20px;
  border-radius: 20px;
  border:2px solid tomato;
  text-align: center;
  color: #ffffff;
}

footer::selection{
  /* background: rgb(112,144,190); */
  background: #D4AF37;
}
.fab{
  color: black;
  font-size: 2rem;
}

#user-id{
  margin-top: 16px;
}
.btn-light {
  background-color: #ebeced;
}

.btn-tool{
  margin: 5px;
  background-color: #ebeced;
}

#drawing-color{
  margin-top: 10px;
  margin-left: 5px;
}

#brushthickness{
  margin-top: 10px;
  margin-left: 15px;
}

#drop{
  margin-left: 15px;
}
/* 
.user-tools{
  height: 0px;
} */

.tools{
  margin-top: 20px;
}

#leave-room{
  margin-right: 48px;
  
}

#toolbar{
  margin-bottom: 20px;
}

#leave-mess{
  color: #dc3545;
}

#leave-mess:hover{
  color: white;
}
#welcome-message {
  margin-left: 48px;
}

#logo{
  margin-left: 32px;
  height: 100px;
  width: auto;
}

#drop-active{
  margin-right: 5px;
}

